<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="preload" href="/static/page.css" as="style" onload="this.rel='stylesheet'">

</head>
<body>

    <div class="container">
        <h1>{{.Name}}</h1> 
        <div class="album-section">
            <div class="album-image">
                <img src="{{.Image}}" alt="{{.Name}}" width="400" height="400"> 
                <h2>First Album released on {{.FirstAlbum}} est. {{.CreationDate}}</h2>
            </div>
            <div class="band-info">
                <h2>Members</h2>
                <p class="members">
                    {{range .Members}}
                    <ul>{{.}}</ul> 
                    {{end}}
                </p>
            </div>
        </div>
        
        <div class="concerts">
            <h2>Tour Dates</h2>
            <table>
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Dates</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $key,$value := .DateAndLocation}}
                    <tr >
                        <td class="places" style="text-transform: capitalize;">{{$key}}</td>
                        <td class="places" style="text-transform: capitalize;">
                            <ul>
                                {{range $item := $value}}
                                <li style="list-style-type: none;">. {{$item}}</li>
                                {{end}}
                            </ul>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <!-- Add Back Button -->
        <div class="back-button">
            <button onclick="goBack()" style="
                background-color: white;
                color: black;
                margin: 1em;
                border-radius: 3px;
                padding: 10px;
                border: 2px solid rgba(167, 14, 238, 0.8); /* Green */
              ">Back</button>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>
