<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Dates</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="Dates">
        <h1>Dates</h1>
        <p>{{range .Dates}}
            <li class="li">{{.}}</li>
            {{end}}
        </p>
    </div>
     <!--Add back-button-->
     <div class ="back-button">
        <button onclick="goBack()" style="
        background-color: white;
        color: black;
        margin: 1em;
        border-radius: 3px;
        padding: 10px;
        border: 2px solid rgba(167, 14, 238, 0.8); /* Green */
      ">Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>