<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Artists</h1>
    <ul class="grid-container">
        {{range .}}
        <li class="card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <div class="container">
                <h4>{{.Name}}</h4>
                <p>Creation Date: {{.CreationDate}}</p>
                <p>First Album: {{.FirstAlbum}}</p>
                <p class="members">Members: {{range .Members}}{{.}}, {{end}}</p>
            </div>
        </li>
        {{end}}
    </ul>
</body>
</html>
