<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Groupie Trackers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Artists</h1>
      
    </header>


    <ul>
        {{range .}}
        <li>
            <div class="card">
                <div class="container">
                    <form id="artistForm{{.Id}}" action="/artist" method="POST">
                        <input type="hidden" id="idField" name="id" value="{{.Id}}">
                    </form>
                    <a href="javascript:void(0);" onclick="submitForm('{{.Id}}','/artist')">
                        <img src="{{.Image}}" alt="{{.Name}}"> <!-- Artist image -->
                    </a>
                    <h2 class="artist-name">{{.Name}}</h2> <!-- Artist name hidden by default -->
                    <div class="event-details">
                        <a href="/locations?id={{.Id}}" class="location" >Location</a>
                        <a href="/dates?id={{.Id}}" class="date">Dates</a>
                    </div>
                </div>
            </div>
        </li>
        
        
        {{end}}
    </ul>

    <script>
        function submitForm(id,endpoint) {
            // Get form usinf the unique id
            var form = document.getElementById('artistForm'+id);
            if (form) {
                form.submit();
            }
        }    
    </script>
</body>
</html>
