<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Locations</h1>
        <div>
        <p class="locations">{{range .Locations}}
        <li>{{.}}</li>
        {{end}}
    </p>
    </div>
    <!--Add back-button-->
    <div class ="back-button">
        <button onclick="goBack()">Go Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
