<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Artists</h1>
    <ul>
        {{range .}}
            <li>
                <div class="card">
                    <div class="container">
                        <a href="/artist/{{.ID}}"> <!-- Link to the artist's detail page -->
                            <img src="{{.Image}}" alt="{{.Name}}"> <!-- Artist image -->
                            <h2 class="artist-name">{{.Name}}</h2> <!-- Artist name -->
                        </a>
                    </div>
                </div>
            </li>
        {{end}}
    </ul>
</body>
</html>
